---
import Layout from '../../layouts/Layout.astro';
import { getCategories } from '../../queries/Category';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Post from '../../components/Post.astro';

export async function getStaticPaths() {
  const categories = await getCategories();

  return categories.map(({ slug, title, body, linkedFrom }) => {
    return {
      params: { slug },
      props: { title, body, linkedFrom },
    };
  });
}

const { title, body, linkedFrom } = Astro.props;
---

<Layout title={title} nav>
  <main>
    <h1 class='heading single-page-heading'>
      {title}
    </h1>
    <div
      class='markdown single-page-body'
      set:html={documentToHtmlString(body.json)}
    >
    </div>
    <div class='flex flex-wrap lg:gap-8 md:mx-4 lg:mx-8'>
      {linkedFrom.postCollection.items.map((post) => <Post post={post} />)}
    </div>
  </main>
</Layout>
