---
import Layout from '../../layouts/Layout.astro';
import { getCategories } from '../../queries/Category';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Post from '../../components/Post.astro';

export async function getStaticPaths() {
  const categories = await getCategories();

  return categories.map(({ slug, title, body, linkedFrom }) => {
    return {
      params: { slug },
      props: { title, body, linkedFrom },
    };
  });
}

const { title, body, linkedFrom } = Astro.props;

const orderedPosts = linkedFrom.postCollection.items.sort((itemA, itemB) =>
  itemA.sys.firstPublishedAt > itemB.sys.firstPublishedAt ? -1 : 1
);
---

<Layout title={title} nav>
  <main>
    <h1 class='heading single-page-heading'>
      {title}
    </h1>
    {
      body ? (
        <div
          class='rich-text single-page-body text-center'
          set:html={documentToHtmlString(body.json)}
        />
      ) : null
    }
    <div
      class='grid lg:grid-cols-2 lg:gap-8 md:mx-4 lg:mx-8 3xl:mx-auto max-w-[1920px] pb-20'
    >
      {orderedPosts.map((post) => <Post post={post} />)}
    </div>
  </main>
</Layout>
