---
import Layout from '../../layouts/Layout.astro';
import { getCategories } from '../../queries/Category';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Icon from '../../components/Icon.astro';
import Post from '../../components/Post.astro';

export async function getStaticPaths() {
  const categories = await getCategories();

  return categories.map(({ slug, title, body, linkedFrom }) => {
    return {
      params: { slug },
      props: { title, body, linkedFrom },
    };
  });
}

const { title, body, linkedFrom } = Astro.props;
---

<Layout title={title} nav>
  <main>
    <h1
      class='mt-20 mb-8 mr-12 p-4 text-5xl xl:text-7xl md:text-5xl font-title'
    >
      {title}
    </h1>
    <div class='p-4 pb-8 italic text-xl md:text-2xl xl:text-3xl max-w-3xl'>
      <div set:html={documentToHtmlString(body.json)}></div>
    </div>
    <div class='flex flex-wrap'>
      {linkedFrom.postCollection.items.map((post) => <Post post={post} />)}
    </div>
  </main>
</Layout>
