@font-face {
  font-family: 'Pyromaani';
  src: url('/fonts/Pyromaani.woff') format('woff');
  font-weight: 100 1000;
}

body {
  @apply font-serif;
  cursor: url(/flame-cursor.png) 0 20, auto;
}

a,
a:focus {
  cursor: url(/feather-cursor.png) 0 20, auto;
}

p {
  @apply italic;
}

.heading {
  @apply mb-6 px-4 text-4xl md:text-5xl xl:text-7xl font-title;
}

.single-page-heading {
  @apply mt-10 mr-12;
}
