@font-face {
  font-family: 'Homeworld';
  src: url('/fonts/Homeworld.ttf') format('truetype');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'KENOKY-Regular';
  src: url('/fonts/KENOKY-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'KENOKY-Bold';
  src: url('/fonts/KENOKY-Bold.woff2') format('woff2');
}

body {
  @apply font-serif;
  cursor: url(/flame-cursor.png) 0 20, auto;
}

a,
a:focus {
  cursor: url(/feather-cursor.png) 0 20, auto;
}

a:hover {
  text-decoration: underline;
}

p {
  @apply italic tracking-wider;
}

b {
  @apply font-bold tracking-wider;
}

.heading {
  @apply mb-8 px-4 text-4xl sm:text-5xl md:text-6xl xl:text-8xl font-title;
}

.single-page-heading {
  @apply mt-16 lg:mt-8 mr-12;
}
