---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Layout from '../layouts/Layout.astro';
import { getCategoryNames } from '../queries/Category';
import { getHomePage } from '../queries/Home';

const { body, backgroundImage } = await getHomePage();

const categories = await getCategoryNames();
---

<Layout title='Diane Esnault' backgroundImage={backgroundImage.url}>
  <main>
    <div class='max-w-8xl mx-auto px-2 text-center mt-[50vh] -translate-y-1/2'>
      <h1 class='heading'>Diane Esnault</h1>
      <div
        class='rich-text single-page-body'
        set:html={documentToHtmlString(body.json)}
      >
      </div>
      <div class='flex flex-wrap flex-col md:flex-row justify-center'>
        {
          categories.map(({ title, slug }, idx) => (
            <div class='font-bold mb-2'>
              <a href={`/category/${slug}`}>
                <h2 class='inline uppercase md:text-lg xl:text-xl'>{title}</h2>
                {idx !== categories.length - 1 ? (
                  <span class='ml-2 mr-2.5 hidden md:inline opacity-20'>|</span>
                ) : null}
              </a>
            </div>
          ))
        }
        <div class='font-bold mb-2'>
          <a href='/info'>
            <span class='ml-2 mr-2 hidden md:inline opacity-20'>|</span>
            <h2 class='inline uppercase md:text-lg xl:text-xl'>Info</h2>
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
