---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../queries/Post';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

const items = await getPosts();
---

<Layout title='Diane Esnault'>
  <main>
    <h1>Diane Esnault</h1>
    {
      items.map(({ title, body }) => (
        <div>
          {title}
          <div set:html={documentToHtmlString(body.json)} />
        </div>
      ))
    }
  </main>
</Layout>
