---
import Layout from '../layouts/Layout.astro';
import { getCategories } from '../queries/Category';

const categories = await getCategories();
---

<Layout title='Diane Esnault'>
  <main>
    <div class='max-w-3xl mx-auto px-2 text-center mt-[50vh] -translate-y-1/2'>
      <h1 class='heading text-diane-darkBrown'>Diane Esnault</h1>
      <p class='text-lg md:text-xl mb-6'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum alias a
        obcaecati ipsa, amet, debitis nobis libero minima corrupti voluptatem
        non reiciendis vitae optio numquam, consequuntur repudiandae laborum
        maiores quia tempore?
      </p>
      <div class='flex flex-wrap justify-center'>
        {
          categories.map(({ title, slug }, idx) => (
            <div class='font-bold'>
              <a href={`/category/${slug}`}>
                <h2 class='inline uppercase'>{title}</h2>
                {idx !== categories.length - 1 ? (
                  <span class='mx-2'>|</span>
                ) : null}
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
