---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../queries/Post';

const posts = await getPosts();
---

<Layout title='Diane Esnault'>
  <main>
    <h1 class='m-8 text-2xl font-bold font-title'>Diane Esnault</h1>
    <div class='m-8'>
      {
        posts.map(({ title, slug }) => (
          <div>
            <a href={`/${slug}`}>{title}</a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
