---
import Layout from '../layouts/Layout.astro';
import { getCategories } from '../queries/Category';

const categories = await getCategories();
---

<Layout title='Diane Esnault'>
  <main>
    <div class='max-w-8xl mx-auto px-2 text-center mt-[50vh] -translate-y-1/2'>
      <h1 class='heading'>Diane Esnault</h1>
      <div class='flex flex-wrap justify-center'>
        {
          categories.map(({ title, slug }, idx) => (
            <div class='font-bold'>
              <a href={`/category/${slug}`}>
                <h2 class='inline uppercase md:text-lg xl:text-xl'>{title}</h2>
                {idx !== categories.length - 1 ? (
                  <span class='mx-2'>|</span>
                ) : null}
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
