---
import Layout from '../layouts/Layout.astro';
import { getCategories } from '../queries/Category';

const categories = await getCategories();
---

<Layout title='Diane Esnault'>
  <main>
    <h1 class='text-5xl xl:text-7xl font-bold font-title'>Diane Esnault</h1>
    <div class='flex flex-wrap'>
      {
        categories.map(({ title, slug }) => (
          <div>
            <a href={`/category/${slug}`}>
              <h2>{title}</h2>
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
