---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import Layout from '../layouts/Layout.astro';
import { getInfoPage } from '../queries/Info';

const { title, body, backgroundImage } = await getInfoPage();
---

<Layout
  title='Info'
  backgroundImage={backgroundImage ? backgroundImage.url : ''}
  nav
>
  <main>
    <h1 class='heading single-page-heading'>{title}</h1>
    <div
      class='rich-text single-page-body'
      set:html={documentToHtmlString(body.json)}
    >
    </div>
  </main>
</Layout>
