---
const { categories } = Astro.props;
---

<div
  class='fixed z-10 top-0 w-full flex justify-center lg:justify-end mobile-nav md:text-lg xl:text-xl'
>
  <div class='relative flex flex-wrap lg:pr-4 z-10 font-bold uppercase'>
    <a href={`/info`}>
      <h3 class='inline'>Info</h3>
      <span class='mx-2 mr-2.5 opacity-20'>|</span>
    </a>
    {
      categories.map(({ title, slug }) => (
        <a class='group' href={`/category/${slug}`}>
          <h3 class='inline'>{title.slice(0, 3)}</h3>
          <h3 class='absolute hidden lg:group-hover:block left-0 top-6'>
            {title}
          </h3>
          <span class='ml-2 mr-2.5 opacity-20'>|</span>
        </a>
      ))
    }
    <a class='group' href={`/`}>
      <h3>⌂</h3>
    </a>
  </div>
</div>
