---
const { categories } = Astro.props;
---

<div
  class='fixed top-0 flex flex-wrap justify-center w-full z-10 font-bold uppercase'
>
  <a href={`/all`}>
    <h3 class='inline'>All</h3>
    <span class='mx-2'>|</span>
  </a>
  {
    categories.map(({ title, slug }) => (
      <a href={`/category/${slug}`}>
        <h3 class='inline'>{title.slice(0, 3)}</h3>
        <span class='mx-2'>|</span>
      </a>
    ))
  }
  <a href={`/`}>
    <h3>Home</h3>
  </a>
</div>
