---
import '../styles/global.css';

export interface Props {
  title: string;
  color?: string;
  backgroundColor?: string;
}

const { title, color, backgroundColor } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Diane Esnault | {title}</title>
    <style define:vars={{ color, backgroundColor }}>
      body {
        color: var(--color);
        background-color: var(--backgroundColor);
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
